.wrapper {
  margin: 50px 0;
}

.heading {
  padding: 0 10px;

  font-family: "Poppins";
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  color: var(--gray-400);

  b {
    color: var(--blue-500);
    font-weight: 400;
  }
}

.form {
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.errorBanner {
  padding: 8px 12px;

  font-size: 14px;
  line-height: 20px;
  color: var(--gray-700);

  background-color: var(--red-200);
  box-shadow: 0 0 0 1px var(--red-400);
  border-radius: 4px;
}

.inputGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 3px;

    font-size: 16px;
    line-height: 24px;
    color: var(--gray-700);
  }

  input {
    width: 100%;
    padding: 8px 10px;

    font-size: 14px;
    line-height: 20px;
    color: var(--gray-700);

    border-radius: 4px;
    box-shadow: 0 0 0 1px var(--gray-300);

    transition: 150ms all ease;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px var(--blue-500);
    }
  }

  .errorMessage {
    margin-top: 2px;

    font-size: 12px;
    line-height: 16px;
    color: var(--red-400);
  }
}

.buttonsWrapper {
  margin-top: 5px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.updateProfileBtn {
  padding: 8px 20px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--white);

  border-radius: 4px;
  background-color: var(--blue-500);

  box-shadow: 0 0 0 1px var(--blue-500);

  cursor: pointer;

  transition: 150ms all ease;

  &:hover {
    background-color: var(--blue-600);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--blue-500);
  }

  &:active {
    background-color: var(--blue-700);
  }

  &:disabled {
    background-color: var(--gray-400);
    box-shadow: 0 0 0 1px var(--gray-400);
    cursor: default;
  }
}

.goBackBtn {
  position: relative;

  padding: 2px 4px;

  font-size: 14px;
  line-height: 20px;
  color: var(--gray-400);

  border-radius: 4px;
  background-color: var(--white);

  cursor: pointer;

  transition: 150ms all ease;

  &:hover {
    color: var(--gray-600);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--blue-500);
  }
}

@media (max-width: 360px) {
  .doubleInput {
    flex-direction: column;
  }

  .buttonsWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}
